.full{
    background-color: rgb(137, 184, 212);
    background-image: url(Conceptual\ art\ -\ Porsche\ 911\ 992\ GT3RS.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-attachment: fixed;
}
.full1{
    background-color: brown;
    background-image: url(classic\ cafe.jpg);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
.full3{
    color: aliceblue;
    background-color: aquamarine;
    background-image: url(lamine\ yamal\ ❤️.jpg);
    background-position: center 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
    

}