.caf{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: -20px;
}
.caf1{
    margin-top: 20px;
    text-align: center;
}
header{
    text-align: center;
    margin-top: -20px;
}
.cafe{
    margin-top: -19px;
    background-image: url(a1c73c2f-6639-4df9-819c-05be0c5c5d84.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.head{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-style: oblique;
    text-align: center;
    
}
.para{
    font-size: x-large;
}
.head1{
    margin-top: -20px;
    text-align: center;
    color: brown;
}
.head2{
    text-align: center;
}
.image1{
    margin-top: 10px;
    border-radius: 50px;

}
.porsh{
    background-color: rgb(127, 240, 240);
    background-image: url(229-2297494_porsche-white-logo-emblem.png);
    background-position: center 100px;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

    

.myporsh{
    
    margin-left: 5px;
}
.porsch1{
    padding-left: 50px;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    
}
.porsch2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.porsch3{
    text-align: center;
}
.phead{
    
    color: darkblue;
    font-size: xx-large;
}
.para1{
    font-size: x-large;
}
.img2{
    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}.barca{
    margin-top: 10px;
    display: flex;
    align-items: top;
    gap: 10px;
   
    
    
    
}
.barful{
     background-color: rgb(234, 234, 133);
     background-image: url();
    background-position: center ;
    background-size: contain;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;

   
}
.bar1{
    font-size: 50px;
    color: brown;
}
.subh{
    font-size: xx-large;
    color: brown;
}
.barp{
    font-size: x-large;
}
.barl{
    font-size: x-large;}
    .barca1{
        margin-top: -33px;
         
        
        
    }
   .img21{
    text-align: center;
    
   }
   .foot{
    text-align: right;
   }