h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-size: 70px;
    background-color: bisque;
    border-radius: 50px;
    padding-left: 90px;
    border: 3px solid blue
}
.box1{
    font-size: xx-large;
    margin: 20px;
    background-color: aqua;
    padding: 20px;
    border: 20px solid black;
    border-radius: 20px;
    
    
}
.box2{
    font-weight: bolder;
    

}
.box3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(94, 80, 46);
    font-style: italic;
    font-variant: small-caps;

}
body{
    background-color: blanchedalmond0
    ;
}