body{
    height: 5000px;
}
.section{
    background-color: aqua;
    width: 500px;
    max-height: 700px;
}
.roboto- <uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing :auto ;
  font-weight : <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
